/*-----CORE STYLES-----*/
:root {
  --primary-color: rgba(23, 104, 128, 0.762);
  --overlay-color: rgba(49, 93, 129, 0.584);
  --menu-speed: 0.75s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bree Serif", serif;
  line-height: 1.4;
}

/*==============*/
/*=====Home=====*/
/*==============*/

.container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 0 3rem;
}

.homepage {
  background: var(--primary-color);
  color: #fff;
  height: 100vh;
  position: relative;
}

.homepage:before {
  content: "";
  background: url(https://github.com/paigehicks/BlueJunes/blob/master/pictures/background.jpg?raw=true) no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.homepage .showcase-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.homepage h1 {
  background-color: white;
  opacity: 0.8;
  color: black;
  font-size: 5vw; /* Responsive font size */
  font-weight: bold;
  margin: 0 auto; /* Center the text container */
  padding: 10px;
  width: 50%;
  text-align: center; /* Center text */
  position: absolute; /* Position text */
  top: 30%; /* Position text in the middle */
  left: 50%; /* Position text in the middle */
  transform: translate(-50%, -50%); /* Position text in the middle */
  mix-blend-mode: screen; /* This makes the cutout text possible */
}

.homepage p {
  font-size: 1.3rem;
}

.btn {
  display: inline-block;
  border: none;
  background: var(--primary-color);
  color: #fff;
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  transition: opacity 1s ease-in-out;
  text-decoration: none;
}

.btn:hover {
  opacity: 0.7;
}

.footer {
  text-align: center;
}

#savvy {
  height: 100px;
  width: 200px;
}

/*-----MENU STYLES-----*/
.menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

/*-----Hamburger Line-----*/
.menu-wrap .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/*-----Hamburger Lines - Top & Bottom-----*/
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

/*-----Moves Line Down-----*/
.menu-wrap .hamburger > div::after {
  top: 10px;
}

/*-----Toggler Animation-----*/
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/*-----Turns Lines Into X-----*/
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/*-----Rotate On Hover When Checked-----*/
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

/*-----Show Menu-----*/
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  background: var(--overlay-color);
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}

/*===============*/
/*=====About=====*/
/*===============*/

.about {
  margin: 0;
  padding: 0;
  background: url(https://github.com/paigehicks/BlueJunes/blob/master/pictures/background.jpg?raw=true) no-repeat center center/cover;
  box-sizing: border-box;
  background-color: #eee;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.abbody {
  background-size: 30%;
  background-color: #fdfdfd;
  overflow: hidden;
  padding: 100px 0;
}

.innerContainer {
  position: relative;
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerContainer h1 {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 900;
}

.text {
  font-size: 14px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.7);
}

.left-side {
  position: relative;
  width: 300px;
}
.left-side img {
  width: 100%;
  height: 100%;
  border-radius: 1%;
}
.right-side {
  position: relative;
  width: 300px;
  margin-top: 75px;
  margin-left: 30px;
}
.right-side h3 {
  position: relative;
  margin-top: -100px;
  font-size: 20px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}
.right-side .name {
  width: 400px;
  height: 50px;
  background: #fff;
  box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.15);
  margin-top: 20px;
  margin-left: -100px;
  margin-bottom: 30px;
}
.right-side .name h1 {
  padding: 10px 10px;
  font-size: 20px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
}
.right-side span {
  display: block;
  margin-bottom: 20px;
  width: 80px;
  height: 3px;
  background: var(--primary-color);
}
.icons {
  position: relative;
  margin-top: 30px;
}
.icons .fab {
  width: 50px;
  height: 50px;
  padding: 15px;
  background: #eee;
  border-radius: 50%;
  text-align: center;
  color: #000;
  font-size: 20px;
}
.icons .fab:hover {
  background: #000;
  color: #eee;
  transition: 0.5s;
  cursor: pointer;
}

/*=====Gallery=====*/

.gallery {
  background-color: var(--primary-color);
}

.galleryHeading {
  font-size: 100px;
  text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000,
 1.5px 1.5px 0 #000;
  text-align: center;
  color: #ffffff;
  letter-spacing: 2px;
  padding: 20px;
  margin: 0;
}

.galleryContainer {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.galleryContainer img {
  height: 250px;
  width: 350px;
  transform: scale(1);
  transition: transform 0.4s ease;
}

.img-box {
  box-sizing: content-box;
  margin: 10px;
  height: 250px;
  width: 350px;
  overflow: hidden;
  display: inline-block;
  color: #000;
  position: relative;
  background-color: #000;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
  1px 1px 0 #fff;
}

.caption {
  position: absolute;
  bottom: 5px;
  left: 20px;
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.caption > p:nth-child(2) {
  font-size: 1rem;
}

.opacity-low {
  opacity: 0.8;
}

.transparent-box {
  height: 250px;
  width: 350px;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.3s ease;
}

.img-box:hover img {
  transform: scale(1.1);
}

.img-box:hover .transparent-box {
  background-color: rgba(0, 0, 0, 0);
}

.img-box:hover .caption {
  transform: translateY(-20px);
  opacity: 1;
}

.img-box:hover {
  cursor: pointer;
}

/*====================*/
/*=====Commissions====*/
/*====================*/

.commissions {
  margin: 0;
  padding: 0;
  background: url(https://github.com/paigehicks/BlueJunes/blob/master/pictures/background.jpg?raw=true) no-repeat center center/cover;
  box-sizing: border-box;
  background-color: #eee;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.comm-body {
  background-color: #fdfdfd;
  position: relative;
  width: 80%;
  height: 800px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.comm-body span {
    display: block;
    margin-left: 340px;
    margin-bottom: 30px;
    width: 600px;
    height: 3px;
    background: var(--primary-color);
}

.commissionsHeader {
  text-align: center;
  font-size: 50px;
}
.comm {
  text-align: center;
}

.list {
  list-style-type: none;
}

.row {
  display: flex;
}
.column {
  text-align: center;
  flex: 50%;
  margin-left: 40px;
  margin-right: 40px;
}


.inner-box {
  width: 500px;
  background-color: #fdfdfd;
  box-shadow: 0 0 20px 0 #999;
  top: 550px;
  left: 640px;
  transform: translate(-50%, -50%);
  position: absolute;
}

/*-----form-----*/
form {
  margin: 35px;
}

.input-field {
  width: 400px;
  height: 40px;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #777;
  border-radius: 14px;
  outline: none;
}

.textarea-field {
  height: 150px;
  padding: 10px;
}

.submit {
  box-shadow: inset -1px -3px 10px 0px #9fb4f2;
  background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
  background-color: #7892c2;
  border-radius: 6px;
  border: 2px solid #4e6096;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Verdana;
  font-size: 15px;
  font-weight: bold;
  font-style: italic;
  padding: 8px 16px;
  text-decoration: none;
  text-shadow: -2px 2px 0px #283966;
}

.submit:hover {
  background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
  background-color: #476e9e;
}

.submit:active {
  position: relative;
  top: 1px;
}

/*===============*/
/*=====Store=====*/
/*===============*/

.store {
  margin: 0;
  padding: 0;
  background: url(https://github.com/paigehicks/BlueJunes/blob/master/pictures/background.jpg?raw=true) no-repeat center center/cover;
  box-sizing: border-box;
  background-color: #fdfdfd;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.store-body {
  margin-top: 50px;
  margin-bottom: 20px;
  background-size: 30%;
  background-color: #fdfdfd;
  overflow: hidden;
  padding: 50px 0;
}

.section-header {
  font-weight: normal;
  color: #333;
  text-align: center;
  font-size: 60px;
}

.content-section {
  margin: 1em;
}

.cart {
  height: 50px;
  width: 50px;
}

.sticker-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1.5em;
}

.btn {
  text-align: center;
  vertical-align: middle;
  padding: .67em .67em;
  cursor: pointer;
}

.btn-header {
  margin: .5em 15% 2em 15%;
  color: white;
  border: 2px solid #2D9CDB;
  background-color: rgba(255, 255, 255, .1);
  border-radius: 0;
  font-size: 1.5em;
  font-weight: lighter;
  padding-left: 2em;
  padding-right: 2em;
}

.btn-header:hover {
  background-color: rgba(255, 255, 255, .3);
}

.btn-play {
  display: block;
  margin: 0 auto;
  color: #2D9CDB;
  font-size: 4em;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 0;
  text-align: center;
}

.btn-primary {
  color: white;
  background-color: #56CCF2;
  border: none;
  border-radius: .3em;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #2D9CDB;
}

.shop-item {
  margin: 30px;
}

.shop-item-title {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  color: #333;
  margin-bottom: 15px;
}

.shop-item-image {
  height: 250px;
}

.shop-item-details {
  display: flex;
  align-items: center;
  padding: 5px;
}

.shop-item-price {
  flex-grow: 1;
  color: #333;
}

.shop-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cart-header {
  font-weight: bold;
  font-size: 1.25em;
  color: #333;
}

.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}

.cart-row {
  display: flex;
}

.cart-item {
  width: 45%;
}

.cart-price {
  width: 20%;
  font-size: 1.2em;
  color: #333;
}

.cart-quantity {
  width: 35%;
}

.cart-item-title {
  color: #333;
  margin-left: .5em;
  font-size: 1.2em;
}

.cart-item-image {
  width: 75px;
  height: auto;
  border-radius: 10px;
}

.btn-danger {
  color: white;
  background-color: #EB5757;
  border: none;
  border-radius: .3em;
  font-weight: bold;
}

.btn-danger:hover {
  background-color: #CC4C4C;
}

.cart-quantity-input {
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid #56CCF2;
  background-color: #eee;
  color: #333;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 25px;
}

.cart-row:last-child {
  border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
  border: none;
}

.cart-total {
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
}

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  margin-right: 20px;
}

.cart-total-price {
  color: #333;
  font-size: 1.1em;
}

.paypal-btn {
  position: absolute;
  bottom: -108%;
  right: 20%;
  width: 250px;
  height: 75px;
}
